<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="mode">Виберіть режим</label>
        <select name="mode" id="mode" >
            <option value="0" {{ if eq .ModeIndex 0 }}selected{{ end }}>Нормальний режим</option>
            <option value="1" {{ if eq .ModeIndex 1 }}selected{{ end }}>Мінімальний режим</option>
            <option value="2" {{ if eq .ModeIndex 2 }}selected{{ end }}>Аварійний режим</option>
        </select>
        <button type="submit">Розрахувати</button>
    </form>
    <h2><pre>{{ .Result }}</pre></h2>

</body>
</html>